<!-- index.html (главная страница) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин для it-специалистов</title>
    <!-- Здесь можно добавить любые другие мета-теги, стили и скрипты, которые вам нужны -->
</head>
<body>

    <header>
        <!-- Ваша шапка (навигационное меню, логотип и т.д.) может быть добавлена здесь -->
        <h1>Интернет-магазин CodeCouturier </h1>
        <!-- Дополнительный контент шапки -->
    </header>
 <nav>
        <!-- Ссылки на разделы (меню) -->
        <ul>
            <li><a href="menu1.html">Меню 1</a></li>
            <li><a href="menu2.html">Меню 2</a></li>
            <li><a href="menu3.html">Меню 3</a></li>
            <li><a href="menu4.html">Меню 4</a></li>
            <li><a href="menu5.html">Меню 5</a></li>
        </ul>
 </nav>
    <main>
        <!-- Основное содержимое главной страницы будет здесь -->
        <p>CodeWear Hub - это интернет-магазин стильной одежды для айтишников и любителей информационных технологий. Мы предлагаем уникальные и креативные модели, которые отражают вашу страсть к кодингу, программированию и IT-миру в целом..</p>
        <!-- Дополнительный контент страницы -->
    </main>

    <footer>
        <!-- Ваш футер (например, контактная информация, ссылки на социальные сети и т.д.) -->
    </footer>

</body>
</html>
