{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
<div class="cards-container">
    {% for shirt in shirts %}
        <div class="card">
            <div class="card__top">
                <a href="#" class="card__image">
                    <img src="{{ shirt.image.url }}" alt="{{ shirt.title }}">
                </a>
                <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
                <h2>{{ shirt.title }}</h2>
                <a href="/show_detail/{{ shirt.id }}" class="card__add">more details</a>
<!--                <a href="{% url 'thing_update' id=shirt.id %}" class="btn btn-primary">Edit Thing</a>-->
<!--                <a href="{% url 'thing_delete' id=shirt.id %}" class="btn btn-primary">Delete Thing</a>-->

            </div>
        </div>
    {% endfor %}
</div>
<br>
{% endblock %}

