{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}




{% block content %}
<div class="cards-container">
    {% for tshirt in tshirts %}
        <div class="card">
            <div class="card__top">
                <a href="#" class="card__image">
                    <img src="{{ tshirt.image.url }}" alt="{{ tshirt.title }}">
                </a>
                <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
                <h2>{{ tshirt.title }}</h2>
                <a href="/show_detail/{{ tshirt.id }}" class="card__add">Подробнее</a>
                <a href="{% url 'thing_update' id=tshirt.id %}" class="btn btn-primary">Edit Thing</a>
                <a href="{% url 'thing_delete' id=tshirt.id %}" class="btn btn-primary">Delete Thing</a>
            </div>
        </div>
    {% endfor %}

    <br>
</div>
{% endblock %}
