{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}




{% block content %}
<div class="cards-container">
    {% for mug in mugs %}
        <div class="card">
            <div class="card__top">
                <a href="#" class="card__image">
                    <img src="{{ mug.image.url }}" alt="{{ mug.title }}">
                </a>
                <div class="card__label">-10%</div>
            </div>
            <div class="card__bottom">
                <h2>{{ mug.title }}</h2>
                <a href="/show_detail/{{ mug.id }}" class="card__add">more details</a>
<!--                <a href="{% url 'thing_update' id=mug.id %}" class="btn btn-primary">Edit Thing</a>-->
<!--                <a href="{% url 'thing_delete' id=mug.id %}" class="btn btn-primary">Delete Thing</a>-->

            </div>
        </div>
    {% endfor %}

    <br>
</div>
{% endblock %}
