{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  .product-details {
    display: flex;
    align-items: flex-start;
  }

  .product-description {
    background-color: #E6E6FA;
    font-size: 21px;
    color: black;
    padding:10px;
    border-radius: 5px;
    margin-left: 1px; /* или другое значение, чтобы создать отступ между изображением и описанием/ценой */
    flex: 1;

  }

  .product-image {
    max-width: 200px; /* или другое значение для максимальной ширины изображения */
    max-height:200px
    border: 1px solid red ; /* рамка вокруг изображения */
    padding: 5px; /* внутренний отступ внутри рамки */
  }
    .product-cost {
    background-color: #DCDCDC;
    font-size: 21px;
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  .product-act {
  background-color: #2D2D67;
  font-size: 21px;
  color: white;
  padding:10px;
  border-radius: 5px;
  }
  h1 {
  animation: blink 1s infinite;
  color: white;
  font-family: Montserrat;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


</style>
{% endblock %}

{% block content %}
<h1>Детальная информация о товаре {{ show_id_key.title }} </h1>
  <div class="product-details">
    <div class="product-image">
      {% if show_id_key.image %}
        <img src="{{ show_id_key.image.url }}" alt="{{ show_id_key.name }}">
      {% endif %}
    </div>
    <div class="product-description">
      <h1>{{ show_id_key.name }}</h1>
      <p>Description: {{ show_id_key.description }}</p>
    </div>
    <div class="product-cost">
      <p>Cost: {{ show_id_key.cost }} ₽ </p>
    </div>
    <div class="product-act">
      <p>Act: {{show_id_key.act}} </p>
    </div>
    <button>Добавить в коризину</button>
  </div>

{% endblock %}
