{% extends 'base.html' %}

{% block content %}
    <h1>Детальная информация о товаре {{ show_id_key.title }} </h1>
    <img src="{{ show_id_key.image.url }}" alt="">
    {{ show_id_key.description }}
    {{ show_id_key.cost }}
    {{ show_id_key.created_at }}

    <div class="details">
        <h1></h1>
        <span class="is-exists"><span class="exists"><i class="fas fa-check"></i> Есть в наличии</span></span>
        <table class="features-tovar">
            <tbody>
                <tr><td>Состав</td><td></td></tr>
                <tr><td>Покрой</td><td>Универсальный для всех типов телосложения</td></tr>
            </tbody>
        </table>
        <div class="description">
            <p></p>
            <p class="gift">При покупке товаров на сумму от <b>2 500 рублей</b> в подарок сертификат на <b>1 000 рублей</b> </p>
        </div>
        <div class="buy-section">
            <div class="razmer">
                <div>
                    <span>Размер</span>
                    <span class="flex-mobile">
                        <button>S</button><button>M</button><button>L</button><button>XL</button><button>XXL</button>
                    </span>
                </div>
                <div><button onclick="$('#setka_razmerov').show()">Размерная сетка</button></div>
                <h1></h1>
                <h1></h1>
            </div>
            <div class="buy">
                <div class="price"> </div>
            </div>
        </div>
    </div>
{% endblock %}
