{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>

  .product-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .product-description {
    background-color: #E6E6FA;
    font-size: 21px;
    color: black;
    padding:10px;
    border-radius: 5px;
    margin-left: 1px; /* или другое значение, чтобы создать отступ между изображением и описанием/ценой */
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right:30px;
  }


  .product-image {
    max-width: 200px; /* или другое значение для максимальной ширины изображения */
    max-height:200px
    border: 1px solid red ; /* рамка вокруг изображения */
    padding: 5px; /* внутренний отступ внутри рамки */
    margin-right: 20px;
  }
  .product-cost {
    background-color: #DCDCDC;
    font-size: 21px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-right: 30px;
  }
  .product-act {
  background-color: #2D2D67;
  font-size: 21px;
  color: white;
  padding:10px;
  border-radius: 5px;
  margin-right: 30px;
  }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
  }

  h1 {
  animation: bounce 1s infinite;
  color: #E6E6FA;
  font-family:Montserrat;
}


</style>
{% endblock %}

{% block content %}
<h1>
Product details {{ show_id_key.title }} </h1>
  <div class="product-details">
    <div class="product-image">
      {% if show_id_key.image %}
        <img src="{{ show_id_key.image.url }}" alt="{{ show_id_key.name }}">
      {% endif %}
    </div>
    <div class="product-description">
      <h1>{{ show_id_key.name }}</h1>
      <p>Description: {{ show_id_key.description }}</p>
    </div>
    <div class="product-cost">
      <p>Cost: {{ show_id_key.cost }} ₽ </p>
    </div>
    <div class="product-act">
      <p>Act: {{show_id_key.act}} </p>
    </div>
    <<button><a href="{% url "add_to_bin" show_id_key.id %}">Add to Basket</a></button>
  </div>

{% endblock %}
